body {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: small;
  line-height: 25px;
  margin: 0;
}

h1 {
  margin-left: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

h1 + p {
  margin-left: 30px;
  margin-top: 0;
}

h2 {
  font-weight: 700;
  align-self: flex-start;
  width: 100%;
  height: 20px;
}

h3 {
  font-weight: 700;
  font-size: medium;
  margin-left: 30px;
}

h4 {
  font-weight: 700;
  font-size: large;
  margin-left: 10px;
  width: 200px;
  line-height: 0px;
}

em {
  font-weight: 700;
  font-style: normal;
}
