body
{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    line-height: 25px;
    margin: 0;
}

h1
{
    margin: 30px;
    font-weight: 700;
}

h2
{
    font-weight: 700;
    font-size: medium;
}

p
{
    margin-left: 30px;
}