.cardsstyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 550px;
  justify-content: space-between;
  margin: 20px;
  align-content: flex-start;
  height: fit-content;
}

.cardsstyle a {
  color: black;
  text-decoration: none;
}

.cardsstyle p {
  margin-left: 10px;
  height: 20px;
}

.cards-hébergement h2 {
  height: 10px;
}

.cards {
  background-color: white;
  border: 5px white solid;
  border-radius: 20px;
  width: 30%;
  height: 35%;
  line-height: 0px;
  box-shadow: 3px 3px 5px rgb(216, 213, 213);
  overflow: hidden;
}

.cards img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.cards p {
  margin-left: 20;
  margin-bottom: 0;
  height: 15px;
}

.cards-hébergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  width: 66%;
  height: 600px;
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.cards-populaire {
  border-radius: 20px;
  background-color: #f2f2f2;
  width: 30%;
  height: 600px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.cards-populaire h2 {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.cards1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  background-color: white;
  border: 5px white solid;
  border-radius: 20px;
  height: 30%;
  width: 90%;
  line-height: 5px;
  box-shadow: 0px 3px 5px rgb(216, 213, 213);
}

.cards h4 {
  margin-top: 20px;
}

.cards1 img {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.cards1 h4 {
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.cards1 p {
  margin-top: 0;
  margin-bottom: 0;
  height: 20px;
}

.texte {
  height: 100%;
  line-height: 30px;
  width: 70%;
}

.nom-note {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
}

.stars {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 10px;
}

.full-star {
  color: #0065fc;
}

.empty-star {
  color: #f2f2f2;
}

.afficher {
  padding-left: 20px;
  font-weight: 700;
  align-self: flex-start;
  width: 100%;
  height: 10px;
  font-size: large;
}

.container-cards-activité {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}

.cards-activité {
  margin: 10px;
  border: 5px white solid;
  border-radius: 20px;
  width: 20%;
  height: 35%;
  line-height: 0px;
  box-shadow: 0px 3px 5px rgb(216, 213, 213);
  overflow: hidden;
}

.cards-activité-tall {
  margin: 10px;
  background-color: white;
  border: 5px white solid;
  border-radius: 20px;
  width: 20%;
  height: 100%;
  line-height: 0px;
  box-shadow: 0px 3px 5px rgb(216, 213, 213);
  overflow: hidden;
}

.cards-activité-mid {
  margin: 10px;
  margin-top: 10px;
  background-color: white;
  border: 5px white solid;
  border-radius: 20px;
  width: 20%;
  height: 50%;
  line-height: 0px;
  box-shadow: 0px 3px 5px rgb(216, 213, 213);
  overflow: hidden;
}

.cards-activité-tall img {
  border-radius: 20px 20px 0px 0px;
  height: 85%;
  width: 100%;
  object-fit: cover;
}

.cards-activité-mid img {
  border-radius: 20px 20px 0px 0px;
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.cards-activité img {
  border-radius: 20px 20px 0px 0px;
  height: 60%;
  width: 100%;
  object-fit: cover;
}

.container-cards-activité h4 {
  width: 100%;
  height: fit-content;
  line-height: 20px;
}
