.filtres .fas {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 20px;
  max-width: 16px;
  min-width: 13px;
}

.filtres p {
  margin: 15px;
  border-radius: 20px / 20px;
  padding-left: 15px;
  padding-right: 20px;
}

.filtres:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.filtres {
  display: flex;
  align-items: center;
  height: 30px;
  border: 2.5px #f2f2f2 solid;
  border-radius: 20px / 20px;
  border-left: 0;
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 15px;
  margin-left: 30px;
}
