header {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
}

nav {
  padding: 10px;
}

header a {
  color: black;
  text-decoration: none;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

header a:hover,
header a:focus {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

.inscription {
  color: #0065fc;
  font-weight: 700;
}

.logo {
  margin-left: 20px;
}
