@media screen and (min-width: 451px) and (max-width: 1100px) {
  header {
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 40px;
    height: 100px;
  }

  header a {
    width: 50%;
    margin: 0 !important;
    padding: 0px !important;
    text-align: center;
    height: 30px;
    border-bottom: 2px #f2f2f2 solid;
  }

  header a:focus,
  header a:active {
    border-bottom: 2px #0065fc solid !important;
    color: #0065fc !important;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 !important;
    width: 100%;
  }

  .inscriptionmobile {
    display: block !important;
    color: #0065fc !important;
    font-weight: 700 !important;
    border: none !important;
    text-align: end;
    margin-right: 15px !important;
  }

  .logo {
    margin: 10px !important;
  }

  .inscription {
    display: none !important;
  }

  .filters-container {
    width: 95% !important;
  }

  .cardsstyle {
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 0 !important;
  }

  .cards-hébergement {
    height: 550px !important;
    width: 95% !important;
  }

  .cards {
    width: 31% !important;
    height: 40% !important;
  }

  .cards img {
    height: 55% !important;
  }

  .texte-hebergement {
    height: 45% !important;
  }

  .afficher {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .cards-populaire {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 95% !important;
    height: 280px !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 20px !important;
  }

  .cards-populaire h2 {
    width: 90% !important;
    margin-left: 20px !important;
  }

  .cards1 {
    flex-direction: column !important;
    height: 75% !important;
    width: 30% !important;
    margin: 0 !important;
  }

  .cards1 img {
    width: 100% !important;
    height: 50% !important;
  }

  .nom-note {
    width: 100% !important;
  }

  .nom-note p {
    font-size: 14px;
  }

  .container-cards-activité {
    height: 500px !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
  }

  .cards-activité-tall,
  .cards-activité-mid,
  .cards-activité {
    width: 45% !important;
    height: 30% !important;
    margin-bottom: 15px !important;
  }

  .cards-activité img,
  .cards-activité-tall img,
  .cards-activité-mid img {
    height: 80% !important;
    object-position: 50% 50% !important;
  }

  .container-cards-activité h4 {
    margin-left: 20px !important;
    margin-top: 5px !important;
  }

  footer {
    height: 250px !important;
  }

  .footer-items {
    width: 33% !important;
    margin-right: 10px !important;
  }

  .footer-items p {
    width: 100% !important;
  }
}
