.searchbox {
  margin-left: 30px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  width: 40px;
}

.searchbox .fas {
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  display: inline-block;
  background: #0065fc;
  width: 100px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: white;
  height: 30px;
  font-size: x-small;
}

.button:hover {
  cursor: pointer;
}

.inputfield {
  border: 1.5px #f2f2f2 solid;
  font-weight: 700;
  color: black;
  padding-left: 15px;
  height: 25px;
}
