.searchbox {
  margin-left: 30px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  width: 40px;
}

::placeholder {
  color: black;
}

.searchbox .fas {
  margin-left: 15px;
  margin-right: 15px;
}

.bouton {
  display: inline-block;
  background: #0065fc;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: white;
  height: 35px;
  font-size: small;
  padding: 10px;
}

.bouton .fas {
  display: none;
}
.bouton p {
  margin: 0;
}

.bouton:hover {
  cursor: pointer;
}

.inputfield {
  border: 1.5px #f2f2f2 solid;
  font-weight: 700;
  color: black;
  padding-left: 15px;
  height: 25px;
  height: 30px;
}
